* {
    box-sizing: border-box;
}

.cs {
    position: absolute;
    width: 10px;
    cursor: pointer;
}

.cs .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 4px solid #D9D9D9;
}

.cs .content {
    height: 8px;
    width: 10px;
    border: 1px solid #D9D9D9;
}

.cs.active .arrow {
    border-bottom: 4px solid #3499E5;
}